<p id="notice"><%= notice %></p>

<h1>Overages</h1>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Overage date</th>
      <th>Reason</th>
      <th>Added data</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @overages.each do |overage| %>
      <tr>
        <td><%= overage.name %></td>
        <td><%= overage.phone_number %></td>
        <td><%= overage.overage_date %></td>
        <td><%= overage.reason %></td>
        <td><%= overage.added_data %></td>
        <td><%= link_to 'Show', overage %></td>
        <td><%= link_to 'Edit', edit_overage_path(overage) %></td>
        <td><%= link_to 'Delete', overage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overage', new_overage_path %>

<h2>Import Phone List</h2>
<%= form_tag import_overages_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
