<p id="notice"><%= notice %></p>

<h1>Showing Overage</h1>

<p>
  <strong>Name:</strong>
  <%= @overage.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @overage.phone_number %>
</p>

<p>
  <strong>Overage date:</strong>
  <%= @overage.overage_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @overage.reason %>
</p>

<p>
  <strong>Added data:</strong>
  <%= @overage.added_data %>
</p>

<%= link_to 'Edit', edit_overage_path(@overage) %>
<%= link_to 'List', overages_path %>
